</div>

<div class="ui-layout-north"><h1>Tridev Social Network Site</h1></div>

<div class="ui-layout-south"><strong>Note: </strong></div>

<div class="ui-layout-east">More to come .....</div>

<div class="ui-layout-west">
	<div id="MainMenu" class="basic">

		<a class="menu">There is one obvious advantage:</a>
		<div>
			<p><a href="#" onclick="alert('hi');">test</a>
				You've seen it coming!<br />
				Buy now and get nothing for free!<br />
				Well, at least no free beer. Perhaps a bear,<br />
				if you can afford it.
			</p>

		</div>
		<a class="menu">Now that you've got...</a>
		<div>
			<p>
				your bear, you have to admit it!<br />
				No, we aren't selling bears.
			</p>
		</div>

		<a class="menu">Rent one bear, ...</a>
		<div class="scrolling">
			<p>
				get two for three beer.
			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

			</p>
		</div>
	</div>
</div>
</body>
</html>
