</div>

<div class="ui-layout-north">
	<div id="headerImg">
		<img src="{$HTTPPATH}/images/tridevsocialnetworkingsite.jpg" />
	</div>
	<div id="topNav">
		Logged in as <b>{$smarty.cookies.name}!!</b> | <a href="index.php?p=main">Home</a> | <a href="#">Profile</a> | <a href="#">Scrapbook</a> | <a href="#">Friends</a> | <a href="index.php?action=logout">Logout</a>
	</div>
</div>

<div class="ui-layout-south"><strong>Note: </strong></div>

<div class="ui-layout-east">More to come .....</div>

<div class="ui-layout-west">
	<div id="MainMenu" class="basic">

		<a class="menu">Users</a>
		<div>
			<p>
			<ul>
				<li><a href="#">Edit Profile</a></li>
				<li><a href="#">Edit Personal Details</a></li>
				<li><a href="#">Edit Education</a></li>
				<li><a href="#">Edit Professiona</a></li>
				<li><a href="#">Edit Main Image</a></li>
				<li><a href="#">Edit Hobbies</a></li>
			</ul>
			<ul>
				<li><a href="#">My Profile</a></li>
				<li><a href="#">My Personal Details</a></li>
				<li><a href="#">My Education</a></li>
				<li><a href="#">My Professiona</a></li>
				<li><a href="#">My Main Image</a></li>
				<li><a href="#">My Hobbies</a></li>
			</ul>
			</p>
		</div>
		<a class="menu">Now that you've got...</a>
		<div>
			<p>
				your bear, you have to admit it!<br />
				No, we aren't selling bears.
			</p>
		</div>

		<a class="menu">Rent one bear, ...</a>
		<div class="scrolling">
			<p>
				get two for three beer.
			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
			</p>
			<p>
				And now for something completely different.<br />
				And now for something completely different.<br />

				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />
				And now for something completely different.<br />

			</p>
		</div>
	</div>
</div>
</body>
</html>
