<div id="header">
			<h1>Tridev Social Network :: Forgot Password</h1>
		</div>

		<div id="content">
			<p id="status"></p>
			<form action="" method="post" id="forgot" name="forgot">
				<fieldset>
					<legend>User details</legend>
					<ul>
						<li>
							<label for="email"><span class="required">Email address</span></label>

							<input id="email" name="email" class="text required email" type="text" />
							<label for="email" class="error">This must be a valid email address</label>
						</li>
					</ul>
				</fieldset>
				
				<fieldset class="submit">
					<input type="submit" class="button" value="Email My Password ...." />
				</fieldset>

				
				<div class="clear"></div>
			</form>
			<div align="center"><a href="index.php?action=register">Register</a> | <a href="index.php">Login</a></div>
			</div>