<form id="form1" name="form1" method="post" action="">
<div id="displayMessage"></div>
  <table border="0" cellspacing="1" cellpadding="5">
    <tr>
      <td align="right" valign="top">Headline:</td>
      <td valign="top"><input name="headline" type="text" id="headline" maxlength="200" /></td>
    </tr>
    <tr>
      <td align="right" valign="top">First thing you will notice about me:</td>
      <td valign="top"><input name="firstthing" type="text" id="firstthing" maxlength="255" /></td>
    </tr>
    <tr>
      <td align="right" valign="top">Height:</td>
      <td valign="top"><select name="height" id="height">
      </select>
       cms</td>
    </tr>
    <tr>
      <td align="right" valign="top">Weight:</td>
      <td valign="top"><select name="weight" id="weight">
            </select></td>
    </tr>
    <tr>
      <td align="right" valign="top">Eye Color: </td>
      <td valign="top"><select name="eyecolor" id="eyecolor">
<option value="0">no answer</option>
<option value="1">black</option>
<option value="2">blue</option>
<option value="3">brown</option>
<option value="4">gray</option>
<option value="5">green</option>
<option value="6">hazel</option>
            </select></td>
    </tr>
    <tr>
      <td align="right" valign="top">Hair Color: </td>
      <td valign="top"><select name="haircolor" id="haircolor">
<option value="0">no answer</option>
<option value="1">auburn</option>
<option value="2">black</option>
<option value="3">blonde</option>
<option value="4">light brown</option>
<option value="5">dark brown</option>
<option value="6">red</option>
<option value="7">gray</option>
<option value="8">salt & pepper</option>
<option value="9">bald</option>
<option value="10">changes often</option>
<option value="11">other</option>
            </select></td>
    </tr>
    <tr>
      <td align="right" valign="top">Build:</td>
      <td valign="top"><select name="build" id="build">
<option value="0">no answer</option>
<option value="1">slim</option>
<option value="2">athletic</option>
<option value="3">about average</option>
<option value="4">a few extra pounds</option>
<option value="5">large</option>
            </select></td>
    </tr>
    <tr>
      <td align="right" valign="top">Looks:</td>
      <td valign="top"><select name="looks" id="looks">
<option value="0">no answer</option>
<option value="1">beauty contest winner</option>
<option value="2">very attractive</option>
<option value="3">attractive</option>
<option value="4">average</option>
<option value="5">mirror-cracking material</option>
            </select></td>
    </tr>
    <tr>
      <td align="right" valign="top">Best Feature: </td>
      <td valign="top"><select name="bestfeature" id="bestfeature">
<option value="0">no answer</option>
<option value="1">eyes</option>
<option value="2">hair</option>
<option value="3">lips</option>
<option value="4">neck</option>
<option value="5">arms</option>
<option value="6">hands</option>
<option value="7">chest</option>
<option value="8">belly button</option>
<option value="9">butt</option>
<option value="10">legs</option>
<option value="11">calves</option>
<option value="12">feet</option>
<option value="13">not on the list</option>
            </select></td>
    </tr>
    <tr>
      <td align="right" valign="top">My idea of a perfect first date:</td>
      <td valign="top"><textarea name="firstdate" cols="45" rows="3" id="firstdate"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">From my past relationships i learned:</td>
      <td valign="top"><textarea name="pastrelation" cols="45" rows="3" id="pastrelation"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">Five things i can't live without:</td>
      <td valign="top"><textarea name="fivethings" cols="45" rows="3" id="fivethings"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">In my bedroom you will find:</td>
      <td valign="top"><textarea name="bedroomthings" cols="45" rows="3" id="bedroomthings"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">Ideal match:</td>
      <td valign="top"><textarea name="idealmatch" cols="45" rows="3" id="idealmatch"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">&nbsp;</td>
      <td valign="top"><input type="button" name="Button" value="Update" onclick="alert('form submited');" />
      <input type="hidden" name="MM_Insert" value="1" /></td>
    </tr>
  </table>
</form>
