<form id="form1" name="form1" method="post" action="">
  <table border="0" cellspacing="1" cellpadding="5">
    <tr>
      <td align="right" valign="top">Children:</td>
      <td valign="top"><select name="children" id="children">
        <option value="1">no answer</option>
        <option value="2">no</option>
        <option value="3">yes - at home full time</option>
        <option value="4">yes - at home part time</option>
        <option value="5">yes - not at home</option>
      </select>      </td>
    </tr>
    <tr>
      <td align="right" valign="top">Religion:</td>
      <td valign="top"><select name="religion" id="religion">
	  	<option value="0">no answer</option>
		<option value="1">Agnostic</option>
		<option value="2">Atheist</option>
		<option value="16">Baha'i</option>
		<option value="3">Buddhist</option>
		<option value="19">Cao Dai</option>
		<option value="26">Christian/Anglican</option>
		<option value="4">Christian/Catholic</option>
		<option value="5">Christian/LDS</option>
		<option value="27">Christian/Orthodox</option>
		<option value="7">Christian/Other</option>
		<option value="6">Christian/Protestant</option>
		<option value="8">Hindu</option>
		<option value="17">Jain</option>
		<option value="9">Jewish</option>
		<option value="10">Muslim</option>
		<option value="21">Neo-Paganist</option>
		<option value="23">Rastafarian</option>
		<option value="12">Religious humanism</option>
		<option value="24">Scientologist</option>
		<option value="18">Shinto</option>
		<option value="15">Sikh</option>
		<option value="11">Spiritual but not religious</option>
		<option value="25">Taoist</option>
		<option value="20">Tenrikyo</option>
		<option value="22">Unitarian Universalist</option>
		<option value="14">Zoroastrian</option>
		<option value="13">other</option>
      </select>      </td>
    </tr>
    <tr>
      <td align="right" valign="top">Sexual Orientation: </td>
      <td valign="top"><select name="sexual_orientation" id="sexual_orientation">
		<option value="0">no answer</option>
		<option value="1">straight</option>
		<option value="2">gay</option>
		<option value="3">bisexual</option>
		<option value="4">bi-curious</option>
      </select>      </td>
    </tr>
    <tr>
      <td align="right" valign="top">Smoking:</td>
      <td valign="top"><select name="smoking" id="smoking">
		<option value="0">no answer</option>
		<option value="1">no</option>
		<option value="2">socially</option>
		<option value="3">occasionally</option>
		<option value="4">regularly</option>
		<option value="5">heavily</option>
		<option value="6">trying to quit</option>
		<option value="7">quit</option>
		</select></td>
    </tr>
    <tr>
      <td align="right" valign="top">Drinking:</td>
      <td valign="top"><select name="drinking" id="drinking">
			<option value="0">no answer</option>
			<option value="1">no</option>
			<option value="2">socially</option>
			<option value="3">occasionally</option>
			<option value="4">regularly</option>
			<option value="5">heavily</option>
      </select>      </td>
    </tr>
    <tr>
      <td align="right" valign="top">Pets:</td>
      <td valign="top"><select name="pets" id="pets">
<option value="0">no answer</option>
<option value="1">i love my pet(s)</option>
<option value="2">i like them at the zoos</option>
<option value="3">i like pet(s)</option>
<option value="4">i don't like pets</option>
</select></td>
    </tr>
    <tr>
      <td align="right" valign="top">Living:</td>
      <td valign="top"><select name="living" id="living">
        <option value="1">alone</option>
        <option value="2">with partner</option>
        <option value="3">with kid(s)</option>
        <option value="4">friends visit often</option>
        <option value="5">with roommate(s)</option>
        <option value="6">with pet(s)</option>
        <option value="7">with parents</option>
        <option value="8">party every night</option>
      </select>      </td>
    </tr>
    <tr>
      <td align="right" valign="top">Hometown:</td>
      <td valign="top"><input name="hometown" type="text" id="hometown" /></td>
    </tr>
    <tr>
      <td align="right" valign="top">Webpage:</td>
      <td valign="top"><input name="webpage" type="text" id="webpage" /></td>
    </tr>
    <tr>
      <td align="right" valign="top">About Me: </td>
      <td valign="top"><textarea name="aboutme" cols="35" rows="3" id="aboutme"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">Sports: </td>
      <td valign="top"><textarea name="sports" cols="35" rows="3" id="sports"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">Activities:</td>
      <td valign="top"><textarea name="activities" cols="35" rows="3" id="activities"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">Books:</td>
      <td valign="top"><textarea name="books" cols="35" rows="3" id="books"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">Music:</td>
      <td valign="top"><textarea name="music" cols="35" rows="3" id="music"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">Tv Shows: </td>
      <td valign="top"><textarea name="tvshows" cols="35" rows="3" id="tvshows"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">Movies:</td>
      <td valign="top"><textarea name="movies" cols="35" rows="3" id="movies"></textarea></td>
    </tr>
    <tr>
      <td align="right" valign="top">&nbsp;</td>
      <td valign="top"><input type="button" name="Button" value="Update" onclick="alert('form submited');" />
      <input type="hidden" name="MM_Insert" value="1" /></td>
    </tr>
  </table>
</form>
