<form action="index.php?p=profile_edit/photo_submit" method="post" enctype="multipart/form-data" name="form1" id="form1" target="mypic">
<div id="displayMessage"><iframe height="25" frameborder="0" name="mypic" id="mypic" scrolling="no" src=""></iframe></div>
  <table border="0" cellspacing="1" cellpadding="5">
    <tr>
      <td>Image:</td>
      <td><input name="image" type="file" id="image" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="Button" value="Update" />
      <input type="hidden" name="MM_Insert" value="1" /></td>
    </tr>
  </table>
</form>